numpy
pandas
python-logstash
logstash_formatter
requests-unixsocket 
pymysql
peewee
pandas
pilton==1.0.5
headlessplot

git+git://github.com/volodymyrss/dqueue@bb7ea48eee13fb350a0520f74e6ec2b9e6dbac88#egg=oda-node

gunicorn

raven
mattersend
flask

#pyyaml==3.12
pyyaml>=5.2

pathlib

bravado

data-analysis==1.1.28

python-shell-colors
