numpy
pandas
python-logstash
logstash_formatter
requests-unixsocket 
pymysql
peewee
pandas
pilton==1.0.5
headlessplot

git+git://github.com/volodymyrss/dqueue@7a0864c98a81fd2b5cdeda8242e61638d711ac38#egg=dda-queue

gunicorn

#git+https://github.com/volodymyrss/dda-ddosadm.git

raven
mattersend
flask

#pyyaml==3.12
pyyaml>=5.2

pathlib

bravado

data-analysis==1.1.19
